{% extends "users/base.html" %} {% block content %}
<script src="..\..\static\users\analysis.js"></script>
<!-- <script src="..\..\static\users\stocks.js"></script> -->

<h2>Analysis Page</h2>
<table id="portfolio" class="portfolio">
	<tr class="header">
		<th>Ticker</th>
		<th>Quantity</th>
	</tr>
	{% for ticker, quantity in portfolio.items %}
	<tr class="stock">
		<td class="ticker">{{ticker}}</td>
		<td class="quantity">{{quantity}}</td>
	</tr>
	{% endfor %}
</table>

<canvas id="performance" width="320" height="180"></canvas>
{% endblock content %}
